table td,th
{
padding-left:5% !important;
padding-bottom: 10px;
}

.buttonz
{
padding-top: 20px;
padding-bottom: 20px;
}

h1
{
text-align: center;
margin-bottom: 20px !important;
}

#usinfo
{
margin-top: 20px;
padding-top: 10px;
border: 1px solid #999;
}


